body {

}

svg {
  display: block;
  margin: auto;
}

path {
  stroke: #7f8c8d;
  fill: #ecf0f1;
  stroke-width: 1;
}

.progress{
  height: 7px;
  margin-top: 1em;
}

#tooltip{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}

.innercircle{
  fill: #3498db;
}

.outercircle{
  fill: #2980b9;
}

.label{
  text-anchor: middle;
  font-weight: bold;
}
